{% from 'helpers.jinja2' import print_type, print_mock_signature %}

#pragma once

#include "Services/{{ service_name }}/I{{ service_name }}ApiBase.h"
#include "Services/{{ service_name }}/Dto.h"

#include <gmock/gmock.h>

namespace csp::services::generated::{{ service_name | lower }}
{

{% for tag, routes in tags.items() %}
    class {{ tag }}ApiMock final : public I{{ tag }}ApiBase
    {
    public:
        {{ tag }}ApiMock() : I{{ tag }}ApiBase(nullptr) {}

        {% for route_path, route in routes.items() -%}
            {% for method_name, method in route.items() -%}
                {# Converts a file path to a camelCase function name with version information removed. -#}
                MOCK_METHOD(void, {% if route_path[:6] == '/api/v' -%} {{ route_path[7:] | camelcase }} {%- else -%} {{ route_path | camelcase }} {%- endif -%}{{ method_name | capitalize }},
                    (const {% if route_path[:6] == '/api/v' -%} {{ route_path[7:] | camelcase }} {%- else -%} {{ route_path | camelcase }} {%- endif -%}{{ method_name | capitalize }}Params&,
                    csp::services::ApiResponseHandlerBase* ResponseHandler,
                    csp::common::CancellationToken& CancellationToken)
                , (const, override));
            {% endfor -%}
        {% endfor %}
    };
{% endfor %}

} // namespace csp::services::{{ service_name | lower }}